# We don't want our local DOTENV env file in gitland
.env

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/coverage/*

# TODO - Remove these near end of dev!
# Ignore some local test scripts
xfrag.rb
xnoko.rb
xtest.rb
user_uploads.xml
*.xml